@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Soporte:</strong>   <a href="mailto:cagm202@hotmail.com">cagm202@hotmail.com</a><br />
</address>