<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Discografia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DiscografiaDB" connectionString="data source=(LocalDb)\v11.0;attachdbfilename=MY_PATH\Music.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DiscografiaModel" connectionString="data source=(localdb)\v11.0;initial catalog=Music;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MusicEntities" connectionString="metadata=res://*/DiscografiaModel.csdl|res://*/DiscografiaModel.ssdl|res://*/DiscografiaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=Music;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DiscografiaModelContainer" connectionString="metadata=res://*/DiscografiaModel.csdl|res://*/DiscografiaModel.ssdl|res://*/DiscografiaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=Music;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Discografia.Properties.Settings>
      <setting name="DiscogsBaseURL" serializeAs="String">
        <value>https://api.discogs.com</value>
      </setting>
      <setting name="DiscogsUserAgent" serializeAs="String">
        <value>discografia.mx/1.0</value>
      </setting>
      <setting name="DiscogsConsumerKey" serializeAs="String">
        <value>MY_CONSUMER_KEY</value>
      </setting>
      <setting name="DiscogsConsumerSecret" serializeAs="String">
        <value>MY_CONSUMER_SECRET</value>
      </setting>
      <setting name="DiscogsGetReleaseUri" serializeAs="String">
        <value>/releases/</value>
      </setting>
    </Discografia.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>